{% extends 'base/base2.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
<br></br>
  <div style="text-align:center"><h2><b>¡Bienvenido de Nuevo!</b></h1></div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'home:casa' %}"><H1 align="center"><b>&larr; Regresar a Inicio</b></h1></a>
            {% else %}
                <form method="POST" action="{% url 'home:login' %}">
                    {% csrf_token %}
                    <div style="text-align:center"> <h2> {{ form.username.label_tag }} </h2></div>
                    <div style="text-align:center"> <h2> {{ form.username }} </div>
                
                    <div style="text-align:center"> <h2> {{ form.password.label_tag }} </h2></div>
                    <div style="text-align:center"> <h2> {{ form.password }} </h2></div>
                    
                    <h2 style="text-align:center"> 
                        {% if form.errors %}
                        <p>Tu nombre de usuario y contraseña no coinciden. Por favor intente de nuevo.</p>
                        {% endif %}
                    </h2>
                    
                    <div style="text-align:center"><button  type="submit" class= "btn btn-primary btn-user btn-lg">Inciar Sesión</button></div>
                  </form>

                
                <div style="text-align:center"><a class="big" href="{% url 'password_reset' %}"><h3>¿Olvidaste tu contraseña?</h3></a></div>              
                <div style="text-align:center"><a class="big" href="{% url 'home:signup' %}"><h3>Crear cuenta</h3></a></div>
                <div style="text-align:center"><a class="big" href="{% url 'home:wsusuario' %}"><h3>Consulta de calificaciones</h3></a></div>

            {% endif %}</td>
{% endblock content %}